/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.idea
/vendor
.env
.env.*
!.env.example
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/e2e/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
.phpunit.cache
composer.phar
